name: Build and Draw
on:
  workflow_dispatch:
  push:

jobs:
  build:
    permissions:
      contents: read
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.4

  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      commit_message: "[Draw] ${{ github.event.head_commit.message }}"
      destination: "commit"
      fail_on_error: true
